.experience{
	padding: 60px 2%;
	color: #fff;
	background-color: #000;
}

.experience__title{
	font-size: 50px;
	text-align: center;
	font-weight: 500;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #000;
	color: #fff;
}

.experience__wrapper{
	display: flex;
	justify-content: center;
}

.experience__box-date{
	width: 35%;
	padding-top: 5px;
	text-align: center;
}

.experience__box-info{
	width: 53%;
}

.experience__box-job-title{
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: 500;
}

.experience__box-job-title span{
	color: #ffffff86;
	font-style: italic;
	font-size: 17px;
}

.experience__box-job-description{
	margin: 15px 0;
	line-height: 1.3;
}

.experience__box-job-skills{
	display: flex;
}

.experience__box-job-skill{
	padding: 5px 10px;
	margin-right: 10px;
	font-size: 12px;
	background: rgba(226, 226, 226, 0.507);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5.8px);
	-webkit-backdrop-filter: blur(5.8px);
	border: 1px solid rgb(0, 0, 0);
	border-radius: 5px;
	color: #000;
	font-weight: 600;
}

@media screen and (max-width: 540px){
	.experience__wrapper{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.experience__box-date{
		width: 50%;
		padding-top: 5px;
		padding-left: 30px;
		text-align: left;
	}
	.experience__box-info{
		width: 100%;
		padding: 15px 8%;
	}
}