@font-face {
	font-family: "Helvetica Neue";
	src: url('../fonts/helvetica-neue-5/HelveticaNeueLight.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Helvetica Neue", Arial, sans-serif;
}

html,body{
	overflow-x: hidden;
}

