.header{
	background-color: #000;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo{	
	width: 50%;
	height: 130px;
	display: flex;
	align-items: center;
	justify-content: start;
	padding-left: 2%;
}

.header__logo img{
	width: 15%;
}


.header__icons{
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: end;
	padding-right: 5%;
}

.react-icons{
	color: white;
	font-size: 25px;
	cursor: pointer;
	margin-right: 15px;
}

.lang-buttons{
	margin-left: 20px;
    display:flex; 
    gap:8px; 
    z-index:100;
	height: 100%;
}

.lang-button{
    cursor: pointer;
	display: block;
	padding: 0 10px;
	height: 30px;
	background-color: #000;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 4px;
}

.lang-button:hover{
	opacity: 0.8;
}


@media screen and (max-width: 540px){
	.header__logo img{
		width: 35%;
	}
}