.header{
	background-color: #000;
	display: flex;
	justify-content: space-between;
}

.header__logo{	
	width: 50%;
	height: 130px;
	display: flex;
	align-items: center;
	justify-content: start;
	padding-left: 2%;
}

.header__logo img{
	width: 15%;
}


.header__icons{
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: end;
	padding-right: 3%;
}

.react-icons{
	color: white;
	font-size: 22px;
	cursor: pointer;
	margin-right: 15px;
}