.main{
	background-color: #000;
	display: flex;
	justify-content: space-between;
	padding: 0 3.5%;
	padding: 20px 3.5% 40px 3.5%;
}

.main__description{
	color: #fff;
	width: 50%;
}

.main__description-title{
	font-size: 60px;
	margin-bottom: 15px;
}

.main__description-subtitle{
	font-size: 30px;
	margin-bottom: 10px;
	font-weight: 300;
	color: #ffffffaf;
	font-style: oblique;
}

.main__description-text{
	padding-right: 30px;
	margin: 20px 0;
	line-height: 1.5;
	font-size: 18px;
}

.main__description-btn{
	border: none;
	text-decoration: none;
	background-color: #fff;
	color: #000;
	margin-top: 5px;
	padding: 15px 20px;
	border-radius: 15px;
	font-size: 19px;
	cursor: pointer;
	font-weight: 600;
	display: block;
	width: 160px;
	text-align: center;
}

.main__description-btn:hover{
	opacity: 0.8;
}

.main__photo{
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: start;
}

.main__photo img{
	width: 80%;
	border-radius: 15px;
	margin: 0 auto;
}

@media screen and (min-width: 1400px) {
	.main__description{
		color: #fff;
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
    .main__description-title {
        font-size: 80px;
    }
    .main__description-subtitle {
        font-size: 40px;
    }
	
    .main__photo img {
        width: 90%;
    }
}

@media screen and (max-width: 1080px){
	.main__photo{
		justify-content: center;
		align-items: center;
	}

	.main__photo img{
		width: 100%;
	}
}

@media screen and (max-width: 1080px){
	.main{
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}
	.main__description{
		width: 100%;
	}
	.main__photo{
		display: none;
	}
}

@media screen and (max-width: 540px){
	.main{
		padding: 40px 5%;
	}
	.main__description-text{
		padding-right: 20px;
		margin: 20px 0;
		line-height: 1.5;
		font-size: 18px;
	}
}