.projects__title{
	font-size: 50px;
	text-align: center;
	font-weight: 500;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #000;
	color: #fff;
}.project{
	padding: 60px 2%;
	color: #fff;
	background-color: #000;
}

.project__wrapper{
	display: flex;
	justify-content: center;
}

.project__box-image{
	width: 35%;
	display: flex;
	justify-content: center;
}

.project__box-info{
	width: 53%;
}

.project__box-project-title{
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: 500;
}

.project__box-project-title span{
	color: #ffffff86;
	font-style: italic;
	font-size: 17px;
}

.project__box-project-description{
	margin: 15px 0;
	line-height: 1.3;
}

.project__box-project-links{
	display: flex;
	gap: 15px;
}

.project__box-project-link{
	text-decoration: none;
	padding: 10px 15px;
	display: block;
	background-color: #fff;
	color: #000;
	border-radius: 10px;
	cursor: pointer;
}

.project__box-project-link:hover{
	opacity: 0.8;
}

@media screen and (max-width: 800px){
	.project__box-image{
		display: none;
	}
	.project__box-info{
		width: 80%;
	}

}
