.skills{
	background-color: #000;
	padding: 60px 4%;

}

.skills__title{
	color: #fff;
	font-size: 50px;
	text-align: center;
	margin-bottom: 60px;
	font-weight: 500;
}

.skills__icons-wrapper{
	display: flex;
	justify-content: center;
	gap: 35px;
	flex-wrap: wrap;
}

.skills__icons{
	color: white;
	font-size: 45px;
}


