.skills{
	background-color: #000;
	padding: 60px 4%;

}

.skills__title{
	color: #fff;
	font-size: 50px;
	text-align: center;
	margin-bottom: 60px;
	font-weight: 500;
}

.skills__icons-wrapper{
	display: flex;
	justify-content: center;
	gap: 35px;
}

.skills__icons{
	color: white;
	font-size: 45px;
}

.skills__icons:nth-of-type(1){
	color: #FFFF00;
}

.skills__icons:nth-of-type(2){
	color: #61dbfb;
}

.skills__icons:nth-of-type(3){
	color: #3C873A;
}

.skills__icons:nth-of-type(4){
	color: #336791;
}

.skills__icons:nth-of-type(5){
	color: #00ED64;
}

.skills__icons:nth-of-type(6){
	color: #1D63ED;
}

.skills__icons:nth-of-type(7){
	color: #F1502F;
}

.skills__icons:nth-of-type(8){
	color: #f89820;
}

.skills__icons:nth-of-type(9){
	color: #336791;
}

.skills__icons:nth-of-type(10){
	color: #336791;
}


