@import url("./blocks/global.css");
@import url("./blocks/header.css");
@import url("./blocks/main.css");
@import url("./blocks/skills.css");
@import url("./blocks/experience.css");
@import url("./blocks/projects.css");